ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  height: 10vh;
  border-radius: 8vh;
  border: 1px solid #ccc;
  background-color: #c3e8fa;
  padding: 20px;
  margin-bottom: 20px;;
}